<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>New car </title>
</head>
<body>
	<h1> Add new Car</h1>
    <form action="">
        <label>Make:</label>
        <input type="text"><br>
        <label>Model:</label>
        <input type="text"><br>
        <label>Year:</label>
        <input type="text"><br>
        <input type="submit" value="Add a Car!">
    </form>
</body>
</html>