<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
    	$(document).ready(function (){
        var socket = io.connect(); 
        $('#button1').click(function()
        {
        	socket.emit("pushed");
        });

        socket.on('updated',function(data)
        {
        	$('#counter').html("<h5>The button has been pushed: " + data.count + " time(s)</h>");
        });

        $('#button2').click(function()
        {
        	socket.emit("reset");
        });

    });

    </script>

<body>
	
	<div>
		<h4>Epic Button</h4>
		<div id="counter">
		<h5> The button has been pushed <%=count%> time(s) </h5>
		</div>

		<p>Push the button to update the count !</p>

		<button id="button1">Push the epic button</button>
		<button id="button2">Reset</button>

	</div>
</body>
</html>

