
.container {
  margin: 0 auto;
  padding: 10px;
}

.first {
  margin: 5px;
  background-color: #b3b3b3;
  border: 1px solid #d0c7ac;
}

.second {
  margin: 5px;
  background-color: #ccc;
  border: 1px solid #d0c7ac;
}

.footer {
  margin: 5px;
  background-color: #ff9;
  border: 1px solid #d0c7ac;
}

@media only screen and (max-width: 480px)
 {
  .med-1,.lg-1 
  {
    display: none;
  }
}

@media only screen and (min-width: 481px)
 {
  .lg-1,.sm-1
  {
    display: none;
  }
}

@media only screen and (min-width: 1023px) 

{
  .sm-1,.med-1 {
    display: none;
  }

  .lg-1
  {
    display:block;
  }
}



span {
    font-weight: bold;
}



	




