<html>
<link rel="stylesheet" type="text/css" href="style.css">
<body>
	<div>
    <h2>Counter</h2>
    
        <h3>Default Count : <%= count %> times</h3>
        <a href="/second"><button>Add two counts!</button></a>
        <a href="/reset"><button>Reset the count!</button></a>
    </div>     
</body>
</html>