<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login_registration.css')}}">
    <title>Successful Login</title>
</head>
<body>
<div id="wrapper">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="success">
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <h2>{{ first_name }} {{ last_name }}</h2>
    <h2>Choose What You Want To Do Next</h2>

</div>
</body>
</html>