<!DOCTYPE html>
<html>
<head>
	<title>Great Number Game</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="main">
		<h1>Welcome to the Great Number Game!</h1>
		<h2>I am thinking of a number between 1 and 100.</h2>
		<h2>Take a guess!</h2>

		<div class="<%=context.status %>">
			<%=context.msg %>
			<form id="<%=context.showForm %>" method="post" action="reset">
				<input type="submit" value="Reset">
			</form>
		</div>

		<form id="guess" method="post" action="guess">
			<input type="test" name="aGuess">
			<input type="submit" value="Guess">
		</form>
	</div>
</body>
</html>