<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">

        <title>Greater number  Game</title>

      
       <style>
       
        form {
              
              display : inline-block;
              margin-left: 760px;

       }


       h1 
       {
        text-align: center;
       }

       p
       {
        text-align: center;
       }


    </style>

    </head>

    <body>

        <h1>Welcome to the Great Number Game </h1>
         <p>I am thinking of a number between 1 to 100</p>
         <p>  Take a guess!</p>

        <form action="/result" method="post">
                <input type="text" name="text"/>
             <br><br>
                <input type="submit" value="Submit" name="Submit">
            </form>
		
	</body>
</html>



