<html>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>
	<div>
     <h3>Submitted Information</h3>
     <h5>Name : <%= name%> </h5>
     <h5>Dojo Location : <%= location %> </h5>
     <h5>Favorite Language : <%= language%> </h5>
     <h5>Comment : <%= comment %> </h5>
     <a href="/"><button>Back</button></a>
    </div>     
</body>
</html>