<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <title>Quote Dashboard</title>
</head>
    <body>
        <div>
        <h3>Welcome to Quoting Dojo</h3>
        <form action="/addquotes" method="post">
            <label>Your Name</label><br>
            <input type="text" name="name"><br>
            <label>Your Quote</label><br>
            <input type="text" name="quote"><br>
            <input type="submit" value="Add my Quote!">
            <br>
        </form>
         <a href="/quotes"><button>Skip my quotes!!!</button>
        </div>
    </body>
</html>
