<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
    <body>
        
        <table border="1px">
            <tr>
                <td>Color:</td>
                <td>Model:</td>
               
                <td>Actions:</td>
            </tr>
            <% for(let x in cars){ %>
            <tr>    
                <td><%= cars[x].color %></td>
                <td><%= cars[x].model %></td>
                
                <td><a href="/edit/<%= cars[x].id %>"><button>Edit</button></a> | <a href="/delete/<%= cars[x].id %>"><button>Delete</button></a></td>
            </tr>
            <% } %>
        </table>
        <br>

       
        <a href="/cars"><button>Back</button></a>
        
    </body>
</html>